# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

# **Load Necessary libraries**

# ** Read Salaries.csv as a dataframe called sal.**

# ** Check the head of the DataFrame. **

In [ ]:
# Check nan values

In [ ]:
#total reords , rows and columns

In [ ]:
#check feature names

In [ ]:
#drop Notes and Status columns

In [ ]:
#check new shape

In [ ]:
#check columns

In [ ]:
#fill BasePay NaN by using some technique

# **What is the average BasePay ?**

# ** What is the highest amount of OvertimePay in the dataset ? **

## Fetch record of Highest paid employee

## Fetch name of highest Overtime pay employee

# ** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

# ** How much does JOSEPH DRISCOLL make (including benefits)? **

# ** What is the name, Job title of highest paid person (including benefits)?**

# ** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

## Show me the records with totalpaybenefit less than or equal to 0

# ** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [ ]:
# Yearwise Average BasePay

# ** How many unique job titles are there? **

# ** What are the top 5 most common jobs? **

In [ ]:
# last five

# How many are there those work as a POLICE OFFICER III

# In which department we have least employees?

# Fetch record of year 2011 where Basepay 200000

# How much average basepay is given to employees inthe year 2013

# Plot.the % distribustion of Yearwise TotalPay

# How many employees getting 0 overtimePay?

## Load data from Github